<!DOCTYPE html>

<head>
   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>BIENES Y RAICES</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   {% block CSS %}
   <link rel='stylesheet' type='text/css' media='screen' href='../static/css/entrada.css'>
   {% endblock %}
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;557&family=Exo:wght@100&family=Inspiration&family=Playfair+Display:ital,wght@1,500&family=Quicksand:wght@300&family=Roboto:ital,wght@1,100&family=Space+Mono&display=swap"
      rel="stylesheet" >

</head>

<body>
   <div class="header">
      <div class="logo">
         <img class="logo" src="../static/image/logo.png" width="100%" />
      </div>
   </div>
   <div class="cuerpo">
      <div class="opciones">
         {%block Entrada %}
         {% if not Usuario %}
         <a href="login.php"><button name="button">Iniciar Sesion</button></a> 
         <br/>
         
         <br/>
         <a href="registrar.php"><button name="button">Registrarse</button></a>
         {% else %}
         {% if Tipo == "Registrado" %}
         <strong>{{Usuario}}</strong> - User Registrado - <a href="logout.php">Cerrar sesión</a>
         {% elseif Tipo == "Moderador" %}
         <strong>{{Usuario}}</strong> - Moderador - <a href="logout.php">Cerrar sesión</a>
         {% elseif Tipo == "Gestor" %}
         <strong>{{Usuario}}</strong> - Gestor - <a href="logout.php">Cerrar sesión</a>
         {% elseif Tipo == "Anonimo" %}
         <strong>{{Usuario}}</strong> - anonimo - <a href="logout.php">Cerrar sesión</a>
         {% else %}
         <strong>{{Usuario}}</strong> - Superusuario - <a href="logout.php">Cerrar sesión</a>
         {% endif %}
         {% endif %}
         <br/><a href="login.php"><button name="button">Iniciar Sesion</button></a> 
         <br/><a href="registrar.php"><button name="button">Registrarse</button></a>
         <br/><a href="index.php"><button name="button">Página principal</button></a> 
         {% endblock %}
      </div>
   </div>

</body>

</html>