.header{
   height: 20vw;
   background-color: rgb(28, 33, 50);
   
}
.logo{
   width: 20vw;
   margin-left: 19vw;
}
.cuerpo{
   height: fit-content;
   text-align: center;
   background-color: rgb(255, 253, 149);
}
.button {
   /* Alinear los botones con los campos de texto */
   padding-left: 90px;
   font-size: larger;
}
input,
textarea {
   /* Así nos asegurmos de que los campos de texto tienen la misma disposición, letra ...*/
   font: 30px sans-serif;

   /* Tamaño uniforme del campo de texto */
   width: 600px;
   box-sizing: border-box;
   border: 1px solid #999;

}
form {
   /* Centro el formulario  */
   margin: 0 auto;
   width: 600px;
   padding: 1em;
   
}